/* Defaults */

body {
    margin: 0;
}

/* Flex Default Class */

.total {
    height: 100vh;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* Colors */

.text-gray {
    color: #888;
}

/* Margins */

.m-b-12 {
    margin-bottom: 12px;
}